<nav class="navbar navbar-expand-md navbar-dark bg-dark p-3">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']"
      >Next<span class="accent-text">Comes</span>Love</a
    >
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/list']">List</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class=" dropdown-toggle text-light" dropdownToggle>
        Hello, {{ authService.decodedToken?.unique_name | titlecase }}
      </a>
      <span class="ml-2">
        <img src="{{ photoUrl || '../../assets/user.png'}}" alt="" />
      </span>

      <div class="dropdown-menu mt-2" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']">
          <i class="fa fa-user mb-2"></i> Edit Profile</a
        >
        <div class="dropdown-divide"></div>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out"></i> Logout</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #LoginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
        name="username"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        name="password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!LoginForm.valid"
        class="btn btn-success my-2 btn-small"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
